/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Variables */
:root {
  --body-color: #171b44;
  --body-alter-color: #4454ff;
  --main-color: #ff4d55;
  --hover-color: #f8646c;
  --container-color: #1d2352;
  --text-alter-color: #0bd2d4;
  --text-color: #fbfeff;
}

*,
a,
ul {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: var(--body-color);
}

::selection {
  background-color: var(--main-color);
  color: var(--text-color);
}

[role="button"] {
  user-select: none;
}

.trans-3 {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

/* Start Of Own Framework */

.p-sec {
  padding: 4rem 0 3rem;
}
.dis-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
}

.sec-heading span {
  width: 4rem;
  height: 0.125rem;
  background-color: var(--main-color);
}
/* End Of Own Framework */

/* Start Of Header Stylling */

header {
  height: 4rem;
  background: rgb(29, 35, 82, 0.9);
}

.logo span {
  color: var(--main-color);
}

header ul li:not(:last-of-type)::before,
header .toggler-login ul li::before {
  content: "";
  width: 0;
  height: 0.125rem;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--main-color);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

header ul li:hover::before {
  width: 100%;
}

.login-btn {
  background-color: var(--main-color);
}

header .icon span {
  width: 1.5rem;
  height: 0.125rem;
  background-color: var(--text-color);
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transform-origin: center right;
}

header .icon.clicked span:first-of-type {
  width: 1.75rem;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

header .icon.clicked span:nth-of-type(2) {
  visibility: hidden;
}

header .icon.clicked span:last-of-type {
  width: 1.75rem;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.toggler-login {
  background-color: var(--container-color);
  top: calc(100% + 1rem);
  left: 0;
  text-wrap: nowrap;
  transform-origin: top center;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
}

.toggler-login.open {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
}

@media (min-width: 768px) {
  .toggler-login {
    background-color: var(--container-color);
    top: calc(100% + 1rem);
    left: 0;
    text-wrap: nowrap;
    transform-origin: top center;
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transform: scaleY(0);
    -webkit-transform: scaleY(0) translateX(-50%);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
  }
  .toggler-login.open {
    transform: scaleY(1) translateX(-50%);
    -webkit-transform: scaleY(1) translateX(-50%);
    -moz-transform: scaleY(1) translateX(-50%);
    -ms-transform: scaleY(1) translateX(-50%);
    -o-transform: scaleY(1) translateX(-50%);
  }
}

.toggler-login span {
  font-size: 0.8rem;
  opacity: 0.8;
}

.toggler-nav {
  padding-block-start: 4rem !important;
  width: 16rem;
  background-color: var(--container-color);
  top: 0;
  right: 0;
  transform-origin: right;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

.toggler-nav.open {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}

/* End Of Header Stylling */

/* Start Of Landing Section Stylling */

#landing .swiper-slide::before,
#landing .container-fluid {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    74deg,
    rgb(23, 27, 68, 80%) 50%,
    rgb(23, 27, 68, 14%)
  );
}

#landing .home-overlay h2 {
  font-size: clamp(1.5rem, 10vw, 3rem);
}

#landing .home-overlay p {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

#landing .home-overlay h2 span {
  color: var(--main-color);
}

.swiper-pagination-bullet {
  background-color: var(--text-color);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 1.5rem;
  background-color: var(--main-color);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
/* End Of Landing Section Stylling */

/* Start Of Services Section Stylling */

#services .service {
  background-color: var(--container-color);
}

#services .service .icon {
  width: fit-content;
  background: var(--main-color);
}

/* End Of Services Section Stylling */

/* Start Of Hosting Section Stylling */

#hosting .game {
  background: var(--container-color);
}

#hosting .game img {
  height: 12.5rem;
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  box-shadow: 0 10px 7px 0 rgb(23, 27, 68, 0.8);
}

#hosting .game .price {
  color: var(--text-alter-color);
}

#hosting .game > span {
  color: var(--main-color);
  letter-spacing: 0.063rem;
}

/* End Of Hosting Section Stylling */

/* Start Of Games Section Stylling */

#games .content span {
  background: var(--main-color);
}

#games .content h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 0.2rem;
  background: var(--main-color);
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

/* End Of Games Section Stylling */

/* Start Of FAQ Section Stylling */

#faq .container ul li {
  background: var(--container-color);
}

#faq .accordian-head.open > span {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

#faq .container .answer {
  border-left: 0.125rem solid var(--main-color);
  background: var(--body-color);
  overflow: hidden;
  height: 0;
}

#faq .container .content span {
  background-color: var(--main-color);
}

/* End Of FAQ Section Stylling */

/* Start Of Control Panel Section Stylling */

#control-panel {
  background: var(--container-color);
}

#control-panel .icon path {
  color: var(--main-color);
}

/* End Of Control Panel Section Stylling */

/* Start Of Prices Section Stylling */

#prices .dis-grid {
  row-gap: 5rem !important;
}

#prices .price-card {
  background: var(--container-color);
  padding-block-start: 5rem !important;
  align-items: center;
  justify-content: center;
}

#prices .price-card:hover {
  transform: translateY(-0.5rem);
  -webkit-transform: translateY(-0.5rem);
  -moz-transform: translateY(-0.5rem);
  -ms-transform: translateY(-0.5rem);
  -o-transform: translateY(-0.5rem);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

#prices .block-icon {
  width: 8rem;
  height: 8rem;
}

#prices .price-card h3 {
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
}

#prices .price-card p,
#prices .ram-info span:not(:first-child) {
  opacity: 0.8;
  font-size: 0.9rem;
}

#prices .price-tag {
  background: var(--main-color);
}

#prices .select-btn {
  border: 2px solid var(--main-color);
}

#prices .select-btn:hover {
  background: var(--main-color);
}

/* End Of Prices Section Stylling */

/* Start Of Footer Section Stylling */

footer .coulmn:first-of-type h4 {
  color: var(--main-color);
}
footer ul > li a {
  color: #abaab2;
}

footer ul > li:hover a {
  color: var(--hover-color);
}
/* End Of Footer Section Stylling */
